#Netbeans temp dirs
**/nbproject/private/
**/build/
**/nbbuild/
**/nbdist/
**/dist/
**/nbactions.xml
**/nb-configuration.xml
**/.nb-gradle/

#Doxygen generated output
**/html/

#sample applications temp files
**/*.csv

